body {
font-family: 'Roboto', sans-serif;
padding: 0cap;
}

#logo{background-image:url(../img/Logo.png);
    display: inline-block;
    background-color: white;
    height:50px;
    width: 50px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}
.main{background-color:rgb(249, 249, 249);
    padding-top: 20px;
    
}
.container{margin: 0 auto;
    width: 600px; 
    background-color: rgb(252, 255, 255);
    padding-top: 12px;
    border-radius: 5px;
}
table{border-bottom: solid;}
.bottone {background-color: rgb(70, 171, 245);
    color: white;
    border-radius: 7px;
    padding: 8px;
    margin-left: 5%;
}
.bottone2{color: grey;
    border-radius: 7px;
    padding: 8px;
}
ul{list-style: none;
  font-size: large;}
.check{display: inline-block;
height: 20px;
width: 20px;
border: 1px solid green;
border-radius: 50%;
vertical-align: middle;
text-align: center;
color: green;
font-size: medium;}