/*----- Body and Header -----*/
body {
    font-family: 'Roboto', sans-serif;
    padding: 0cap;
}

#logo{background-image:url(../img/Logo.png);
    display: inline-block;
    background-color: white;
    height:50px;
    width: 50px;
    background-repeat: no-repeat;
    vertical-align: middle;
}

h1{
    display: inline-block;
    vertical-align: middle;
}
.main{background-color:rgb(249, 249, 249);
    padding-top: 20px;
    
}
.container{margin: 0 auto;
    width: 600px; 
    background-color: rgb(252, 255, 255);
    padding-top: 12px;
    border-radius: 5px;
}

/*-------
--------- 
Buttons
---------
-------*/

.bottone {
    background-color: rgb(70, 171, 245);
    color: white;
    border-radius: 7px;
    padding: 8px;
    margin-left: 5%;
}
.bottone2{
    color: grey;
    border-radius: 7px;
    padding: 8px;
}

/*----- List and related -----*/

ul{
    list-style: none;
  font-size: large;
}
li{
    margin-bottom: 12px;
}
.check{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid green;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    color: green;
    font-size: medium;
}
.cross{
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid red;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    color: red;
    font-size: medium;
}
.Editorial{
    background-color: rgb(70, 171, 245);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}

.Q1{
    background-color: rgb(150, 28, 194);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}
.recruit{
    background-color: rgb(36, 145, 74);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}
.mobile{
    background-color: rgb(224, 141, 17);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}
.website{
    background-color: rgb(224, 17, 176);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}
.sales{
    background-color: rgb(96, 164, 18);
    color: white;
    border-radius: 25px;
    font-size: small;
    padding: 4px;
}

/*----- /List and related -----*/




